{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>Room Name: TESTROOM</p>
    </section>

            <div id="video-streams">

                
<!-- 
                <div class="video-container" id="user-container-2">
                    <div class="video-player" id="user-2"></div> 
                    <div class="username-wrapper"><span class="user-name">Sam</span></div>
                </div>

                <div class="video-container" id="user-container-3">
                    <div class="video-player" id="user-3"></div> 
                    <div class="username-wrapper"><span class="user-name">Peter</span></div>
                </div>

                <div class="video-container" id="user-container-4">
                    <div class="video-player" id="user-4"></div> 
                    <div class="username-wrapper"><span class="user-name">Erik</span></div>
                </div>

                <div class="video-container" id="user-container-4">
                    <div class="video-player" id="user-5"></div> 
                    <div class="username-wrapper"><span class="user-name">Paul</span></div>
                </div>  
            -->
                </div>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="images/microphone.svg" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="images/video.svg" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="images/leave.svg" />
        </div>
 
</section>
</main>



<script type="text/javascript" src = "{% static 'assets/AgoraRTC_N-4.11.0.js' %}"></script>


<script type="text/javascript" src = "{% static 'js/app.js'%}"></script>


{% endblock content%}