<html>
  {%load static%}
<head lang="en">
    <meta charset="UTF-8">
    <title>Pricing Table</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  </head>
<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand" href="#">
      <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
      ClassLine
    </a>
  
        <a class="nav-item nav-link active" href="/"><strong>Home</strong> <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#"><strong>About</strong></a>
        <a class="nav-item nav-link" href="#"><strong>Contact</strong></a>
        <a class="nav-item nav-link disabled" href="#"><strong>Donate</strong></a>
      <a></a>
    <form class="form-inline" >
        <input id = "input" class="form-control mr-2" type="search" placeholder="View Videos" aria-label="Search">
        <button onclick="video_puller()" class="btn btn-info" type="submit"><i class="fas fa-search"></i></button>
      </form>
   
  </nav>





<div class="container">
    <h1>Pricing Table</h1>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="pricing_table">
                <div class="pricing_table_header">
                    <i class="fa fa-home"></i>
                    <h2 class="title">basic</h2>
                    <span class="price-plan">
                        <i class="fa fa-inr"></i>
                     
                    </span>
                </div>
                <div class="pricing_table_plan">
                    <ul>
                        <li>3 User Fees</li>
                        <li>Online Services</li>
                       
                        
                    </ul>
                    <button class="btn btn-info">Order Now</button>
                </div>
            </div>
        </div>
       
        <div class="col-md-4 col-sm-6">
            <div class="pricing_table">
                <div class="pricing_table_header">
                    <i class="fa fa-users"></i>
                    <h2 class="title">Pro</h2>
                    <span class="price-plan">
                        <i class="fa fa-inr"></i>
                        <span class="price">299</span>
                        <span class="monthly_plan">/m</span>
                    </span>
                </div>
                <div class="pricing_table_plan">
                    <ul>
                        <li>3 User Fees</li>
                        <li>Online Services</li>
                        
                    </ul>
                    <button class="btn btn-info">Order Now</button>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-sm-6">
          <div class="pricing_table">
              <div class="pricing_table_header">
                  <i class="fa fa-users"></i>
                  <h2 class="title">Pro</h2>
                  <span class="price-plan">
                      <i class="fa fa-inr"></i>
                      <span class="price">299</span>
                      <span class="monthly_plan">/m</span>
                  </span>
              </div>
              <div class="pricing_table_plan">
                  <ul>
                      <li>3 User Fees</li>
                      <li>Online Services</li>
                      
                  </ul>
                  <button class="btn btn-info">Order Now</button>
              </div>
          </div>


          
      </div>

      

  </div>
    </div>
    
</div>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>