<html>
    <head>
        <title>
            Autentication Page
        </title>
    </head>
    <body>

        <div class="row pt-5 pricing-table">
            <div class="col-12 mx-auto">
                <div class="card-deck pricing-table">
                    <div class="card">
                        <div class="card-body">
                            
                            <h2 class="card-title text-primary mb-0 pt-4">Attend Virtual Test Event</h2>
                            <div class="text-muted font-weight-medium mt-2">Student's</div>
                            <ul class="list-unstyled pricing-list">
                               
                                <li>Through this students can attend</li>
                                <li>the exams </li>
                                
                            </ul>
                            <a href="test/" class="btn btn-primary">
                                Attend
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            
                            <h2 class="card-title text-info mb-0 pt-4">Watch result videos</h2>
                            <div class="text-muted font-weight-medium mt-2">Staff's</div>
                            <ul class="list-unstyled pricing-list">
                                <li>Gives you the access to all the videos</li>
                                <li>of the students who </li>
                                <li>attended the test..</li>
                            </ul>
                            <a href="/test/videos" class="btn btn-info">
                                Watch
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            
                            <h2 class="card-title text-primary mb-0 pt-4">Conducting a virtual class</h2>
                            <div class="text-muted font-weight-medium mt-2">Staff's</div>
                            <ul class="list-unstyled pricing-list">
                                <li>This allow's staff's to conduct</li>
                                <li>a virtual class via video call</li>
                                <li> with many functionalities..</li>
                                
                            </ul>
                            <a href="class" class="btn btn-primary">
                                Conduct
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-4 mr-auto">
                <h3>Everything is covered.</h3>
                <p class="lead">
                    ClassLine offer's AI powered virtual test conducting portal, with Autentication and full security guranteed.
                    Everything is AI and automated.
                </p>
            </div>
            <div class="col-md-7 offset-md-1">
                <ul class="features-list">
                    <li>Conducting test</li>
                    <li>Access to those videos</li>
                    <li>Virtual class</li>
                    <li>Auto-evaulation</li>
                    <li>ChatBot Support</li>
                    <li>Text summarization</li>
                    <li>Q/A hosting with AI</li>
                </ul>
            </div>
        </div>
        <style>
             .pricing-table .pricing-list {
    margin-bottom: 3rem;
    margin-top: 2rem; }
    .pricing-table .pricing-list li {
      margin-bottom: 1rem;
      font-size: 1.05rem;
      font-weight: 500; }
  
  .pricing-table .card {
    transition: all .25s ease-out;
    text-align: center; }
    .pricing-table .card .card-body {
      padding: 2.25rem 2rem; }
    .pricing-table .card.active {
      color: white;
      background-color: transparent; }
      .pricing-table .card.active h2, .pricing-table .card.active h3 {
        color: #ffffff; }
  
        </style>

    </body>
</html>